* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}


body, html {
    height: 100%;
    background-color: var(--color3);
}
:root{
    --color5: #F6F7F8;
    --color4: #20A4F3;
    --color3: #2EC4B6;
    --color2: #011627;
    --color1: #FF3366;
    --opaqueblack: rgba(0, 0, 0, 0.8);
 
    --titlefont:  calc(.5rem + 2vw);
    --pagefont: calc(.3rem + 2vw);
    --ptext: calc(16px + .5vw);

}

#wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
}

.content{
    color: var(--pagetitle);
    width: 100vw;
    position: relative;
    z-index: 400;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 300;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    background: var(--opaqueblack);
}
.box{
    position: absolute;
    right: 0;
    background-color: var(--color4);
    width: 100%;
    height: 45%;
    border-bottom-left-radius: 80%;
    z-index: -1;
    box-shadow: -13px 17px 39px 0px rgba(0,0,0,0.75);

}
.box-2{
    position: absolute;
    right: 0;
    background-color: var(--color1);
    width: 100%;
    height: 90%;
    border-bottom-left-radius: 80%;
    z-index: -2;
    box-shadow: -13px 17px 39px 0px rgba(0,0,0,0.75);
}

.title{
    font-size: var(--titlefont);
    padding-inline: 10px;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    letter-spacing: 5px;
}
.link{
    padding-right: 2rem;
    font-size: var(--pagefont);
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans';
}
.link:hover{
    color: var(--color1);
}
#about{
font-size: var(--ptext);
color: white;
background-color: var(--opaqueblack);
width:90vw;
height: 20rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
flex-wrap: nowrap;
gap: 10px;
border-radius: 5px;
text-align: justify;
padding: 1rem;
position: absolute;
top: 15rem;


}
.header-text{
    font-family: 'Josefin Sans';
    background-color: var(--color5);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    
    
}
.treble {
    content: "\1D11E";
    font-size: 20rem;
    position: absolute;
    left: 20px;
    top: 10rem;
    color: white;
    text-shadow: 2px 2px white, -2px -2px #444;
    
}

.bass{
    content: \01D122;
    font-size: 20rem;
    position: absolute;
    right: 20px;
    top: 10rem;
    color: white;
    text-shadow: 2px 2px white, -2px -2px #444;
    

}

.flex-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
p{
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans';
    line-height: calc(1rem + 1vw);
}

#generate-button{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--color1);
    color: black;
    border-color: black;
    cursor: pointer;
    font-size: larger;
}

#generate-button:hover {
    text-decoration: underline;
    
}

#section-2{
    background-color: var(--black);
    
}
.output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    
}
.card{
    height: calc(4rem + 6vw);
    width: calc(4rem + 6vw);
    background-color: var(--color1);
    margin: calc(.1rem + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: var(--pagefont);
    padding: 5px;
    border: 2px solid var(--color5);
    position: relative;
    
    

}

select{
    width: 10rem;
    background-color: var(--color2);
    color: var(--color5);
    border: 2px solid var(--color5);
    padding: 5px;
    border-radius: 5px;
    
}

input{
    padding: 5px;
    border: 2px solid var(--color5);
    color: var(--color5);
    background-color: var(--color2);
    cursor: pointer;
    border-radius: 5px;
}

input:hover{
    background-color: var(--color3);
}

.delete-button{
    background: transparent;
    border: none;
    font-weight: bold;
    position: relative;
    height: auto;
    width: auto;
    font-size: var(--pagefont);
    top: 0;
    left: 0;
    position: absolute;
    margin: 5px;
    cursor: pointer;
    color: var(--color5);

}
.delete-button:hover{
    color: grey;
}
   








